In [3]:
import time
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
from tqdm import tqdm

In [4]:
df = pd.read_excel('./song_lyrics.xlsx')
df.dropna(axis=0,inplace=True)
df['label']='댄스'

In [5]:
df= df[['가사','label']]
df.columns=['data','label']

In [6]:
df

                                                   data label
0     GA-GA-GA-GA-GA-GODS GA-GA-GA-GA-GA-GODS (’ey) ...    댄스
1     Get Up  Cause I know it's now or never Get Up ...    댄스
2     오늘따라 더운 날씨에 잠 못 이뤄 뒤척이다가 하늘에 뜬 달에 그려진 그때 우리 문득...    댄스
3     자꾸 깜짝 놀라 엉뚱한 너의 (엉뚱한) 그런 말투도 나를 보는 시선도 가끔은 실수로...    댄스
4     Don't forget love 아무리 바쁘다고 마음을 숨기진 말자구 가끔은 심란해...    댄스
...                                                 ...   ...
1047  서로를 바라보는 눈빛 너무 아름다워 하염없이 빛나는 너의 곁에 살며시 스며들고 싶어...    댄스
1048  Get down with the dancing Let's get it on foll...    댄스
1049  백만 불짜리 미소이긴 하지만 I don’t want to lie 웃지 않는다고 사랑...    댄스
1050  다들 내게 말하지 내 미소는 아픔을 모르는 봄꽃 같다고 나도 몰라 아마도 내 입가엔...    댄스
1051  시작해 시작해 Pop in Music 답답한 마음을 전부 다 접어서 넘겨버릴수있게 ...    댄스

[949 rows x 2 columns]

In [8]:
from konlpy.tag import Okt

okt = Okt()

word_list = []

for line in tqdm(df['data']):
    words = []
    for w,t in okt.pos(line):
        if t in [,'Verb','Adjective']:
            words.append(w)
        elif (t == 'Punctuation') and ('*' in w):
            words.append(w)
        
    sent = ' '.join(words)
    word_list.append(sent)

result = pd.DataFrame(word_list, columns=['data'])
result['label'] = '댄스'

100%|██████████| 949/949 [00:10<00:00, 90.57it/s]

In [12]:
result

                                                  data label
0    GA GA GA GA GA GODS GA GA GA GA GA GODS ey Thi...    댄스
1    Get Up Cause I know it s now or never Get Up N...    댄스
2    오늘 따라 더운 날씨 잠 못 이뤄 뒤척 다가 하늘 뜬 달 그려진 그때 우리 문득 떠...    댄스
3    자꾸 깜짝 놀라 엉뚱한 너 엉뚱한 그런 말투 나를 보는 시선 가끔 실수 실수 너 손...    댄스
4    Don t forget love 바쁘다고 마음 숨기진 말 자구 가끔 심란해져도 Oh...    댄스
..                                                 ...   ...
944  서로 바라보는 눈빛 아름다워 빛나는 너 곁 스며들고 싶어 Can I be a par...    댄스
945  Get down with the dancing Let s get it on foll...    댄스
946  백만 불 짜리 미소 이긴 I don t want to lie 웃지 않는다고 사랑 하...    댄스
947  들 내게 말 하지 내 미소 아픔 모르는 봄꽃 같다고 나도 몰라 내 입가 가시 껴안은...    댄스
948  시작 해 시작 해 Pop in Music 답답한 마음 전부 접어서 넘겨 버릴수있게 ...    댄스

[949 rows x 2 columns]

In [14]:
result.to_csv('./댄스1.csv', encoding='utf-8', index=False)

In [37]:
df.to_excel('last_lyrics.xlsx')

In [39]:
from konlpy.tag import Okt

okt = Okt()

In [73]:
df = df[['data','label']]
df.to_csv('댄스.csv')

In [81]:
df = df[['data','label']]
df.to_csv('댄스.csv')